# debug folder
/[Dd]ebug/

# release folder
/[Rr]elease

#
/.settings/

#
/.mxproject

# created by the Eclipse debugger
/*.launch

# vscode
/.vscode/

# NECESSARY
# CubeIDE project file
!/.project
!/.cproject
# linker script
!/*.ld
# CubeMX stm32 configure file
!/*.ioc